# Anscombe's Quartet Dataset
----------------

## Here follows and investigation into the origins and applications of the dataset

The notebook will first provide a look into the origins of the dataset:
* Who created it
* When it was created
* Reasons behing the origin of the dataset

We will then have a look at some visual representations, in order to demonstrate some interesting characteristics of the dataset

Following on, we will perform some statistical analysis and calculate a variety of descriptive statistics for the dataset

Finally, using the above visuals and statistical calculations, we will discuss some of the more unusual aspects of the dataset

## 1. Background of Anscombe's Quartet Dataset
Frank Anscombe [1], English statistician, created the dataset in 1973 [2]. The dataset consists of four (4) distinct groups of bivariate data, each group containing 11 points with an x and y variable component.
Anscombe felt that the statistical analysis of data through formulaic methods alone could be misleading and that the often discounted graphical method, should be used in order to (i) validate assumptions made about the data and (ii) provide context regarding the behaviour of the data [3].

## 2. Plotting the data
First we load the dataset, in order to view and operate on the data.

In [4]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

anscFrame = sns.load_dataset("anscombe")
anscFrame

   dataset     x      y
0        I  10.0   8.04
1        I   8.0   6.95
2        I  13.0   7.58
3        I   9.0   8.81
4        I  11.0   8.33
5        I  14.0   9.96
6        I   6.0   7.24
7        I   4.0   4.26
8        I  12.0  10.84
9        I   7.0   4.82
10       I   5.0   5.68
11      II  10.0   9.14
12      II   8.0   8.14
13      II  13.0   8.74
14      II   9.0   8.77
15      II  11.0   9.26
16      II  14.0   8.10
17      II   6.0   6.13
18      II   4.0   3.10
19      II  12.0   9.13
20      II   7.0   7.26
21      II   5.0   4.74
22     III  10.0   7.46
23     III   8.0   6.77
24     III  13.0  12.74
25     III   9.0   7.11
26     III  11.0   7.81
27     III  14.0   8.84
28     III   6.0   6.08
29     III   4.0   5.39
30     III  12.0   8.15
31     III   7.0   6.42
32     III   5.0   5.73
33      IV   8.0   6.58
34      IV   8.0   5.76
35      IV   8.0   7.71
36      IV   8.0   8.84
37      IV   8.0   8.47
38      IV   8.0   7.04
39      IV   8.0   5.25
40      IV  19.0  12.50
41      IV   8.0   5.56
42      IV   8.0   7.91
43      IV   8.0   6.89

From the above output, it is clear that the datasate consists of 44 datapoints, split evenly among 4 distinct datasets. In each data there are 11 (x, y) datapoints

In [7]:
sns.set()
sns.relplot(x="X", y="Y", data=anscFrame)

AttributeError: module 'seaborn' has no attribute 'relplot'

## 3. Summary Statistics

## 4. Significance of the dataset and statistical results

## References
-----
**1.** *https://en.wikipedia.org/wiki/Frank_Anscombe* 

**2.** *https://en.wikipedia.org/wiki/Anscombe%27s_quartet*

**3.** *http://www.sjsu.edu/faculty/gerstman/StatPrimer/anscombe1973.pdf*

**4.** *Reference 4*

**5.** *Reference 5*

**6.** *Reference 6*

**7.** *Reference 7*